extends ../config/template
append config
  -pageTitle = 'contact'
  -pageDescription = 'Pagina inicial de EDboilerplate'
  -pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  section.section#contact
    h1 Boilerplate NH Digital 2022
    h2= pageTitle
