-let pageTitle = 'home'
-let siteName = 'Boilerplate 2020'
-let twitterAccount = '@sigmapcs'
-let pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
-let pageImage = ''
-
  let pages = [
    {
      title: 'home',
      url: '/',
      child: []
    },
    {
      title: 'about',
      url: '/about.html',
      child: []
    },
    {
      title: 'services',
      url: '/services.html',
      child: []
    },
    {
      title: 'contact',
      url: '/contact.html',
      child: []
    }
  ]
